input {
	width:70%;
    height: 50px !important;
}

body {
	background-color:#303030;
}

fieldset {
	padding-bottom:10px;
    align-content: center;
}

.info {
	border: 3px solid #4b3b6a;
	background-color:#303030;
	text-align: center;
	border-radius: 20px;
}

#myCanvas{
	padding:10px;
}

.span4 {
    margin:0 0px 25px 0px !important;
}
.preview-wrap {
	border: 3px solid #4b3b6a;
	background-color: #303030;
	border-radius: 20px;
	text-align: center;
	margin:0 0px 25px 0px;
    
}

footer{
	clear:both;
}

.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

.container-fluid {
    padding-left:20%;
    padding-right:20%;
}

@media screen and (max-width: 800px){
    .container-fluid{
    padding-left:10px;
    padding-right:10px;
    }
}

h4 {
    color: #fff !important;
}